// Utilities
@import "../../scss/color.scss";

.container-button {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    span {
        color: $color-sombre;
        text-decoration: none;
    }
    .button {
        width: fit-content;
    }
}