// Utilities
@import "../../scss/color.scss";

#container-select {
	position: absolute;
    top: 6.2vh;
    left: 5vw;
    z-index: 500;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0 0 10px 0;
    
    select {
        box-sizing: border-box;
        font-size: 1rem;
        padding: 4px 8px;
        background-color: $color-gris;
        color: white;
        font-weight: 600;
        
        &.noSelected {
            background-color: $color-cen;
        }
    }
}	

.container-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.button {
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 25px 10px;
    background-color: white;
    //border: 1px solid $color-gris;

    &:hover     {    
        opacity: 0.8;
        animation: buttonActive 0.5s ease-in-out;   
    }

    &:active    {    
        opacity: 0.5;    
        animation: buttonPress 0.5s ease-in-out; 
    }

    &.dark-button {
        background-color: $color-sombre;
        color: white;
    }
    &.button-desactive {
        background-color: $color-gris;
        opacity: 0.3;
        &:hover {
            opacity: 0.2;
            animation: buttonDesactive 0.5s ease-in-out;
        }
    }

    span {
        position: relative;
        top: 1px;
    }
}

.select-animation {
    transition: 
        0.1s opacity 0.2s ease-in-out, 
        0.1s max-height 0.1s ease-in-out,
        0.1s transform 0s ease-in-out;
        opacity: 0;
        max-height: 0 !important;
        transform: translateY(-150px);
        
        &.activate {
            transition: 
            0.1s opacity 0s ease-in-out, 
            0.2s max-height 0s ease-in-out,
            0.1s transform 0.2s ease-in-out;
        opacity: 1;
        max-height: 300px !important;
        transform: translateY(0);
    }
}

@keyframes buttonActive {
    0% { 
        transform: scale(1); 
    } 15% { 
        transform: scale(1.05);
    } 100% {
        transform: scale(1);
    }
}

@keyframes buttonDesactive {
    0% { 
        transform: scale(1); 
    } 85% { 
        transform: scale(0.97);
    } 100% {
        transform: scale(1);
    }
}

@keyframes buttonPress {
    0% { 
        transform: scale(1); 
    } 15% { 
        transform: scale(0.9);
    } 100% {
        transform: scale(1);
    }
}