// Utilities
@import "../../scss/color.scss";

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 0;
    width: 100%;

    .formDouble {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    span {
        color: $color-principale;
    }

    .formInput, .formTextArea {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        
        &:nth-child(1), &:nth-child(2) {
            padding: 0 0 30px;
            border-bottom: 2px solid black;
        }
    
        label {
            font-weight: 700;
        }
    
        input, textarea {
            padding: 5px 3%;
            background-color: $color-tertiaire;
            border: 0px solid;
            width: 90%;
            
            &:nth-child(2n+1) {
                margin-right: 4%;
                width: 90%;
            }
        }

        .select-form {
            padding: 5px 3%;
            background-color: #efefef;
            border: 0px solid;
            width: 96%;
        }
    }
}

#textArea-message, #input-titre, #select-objet {
    width: 100%;

    input, textarea {
        width: 94%;
    }

    select {
        width: 100%;
    }
}