// Utilities
@import "../../scss/color.scss";

#container-stats {
    position: relative;
    width: 100%;
    min-height: 50vh;
    top: -7vh;
    z-index: 400;
    background-color: white;
    border-top: 2px solid $color-sombre;
    border-right: 2px solid $color-sombre;
    border-top-right-radius: 80px;
    transition: top 0.2s ease-in-out;
    
    &.volet-open {
        top: -44vh;
    }
    
    #marge-stats {
        margin: 0 0 5px;
        
        #header-stats {
            width: 100%;
            padding: 10px 5% 10px;
            border-bottom: 2px solid $color-sombre;
            border-top-right-radius: 80px;
            box-sizing: border-box;

            &:hover {
                background-color: $color-tertiaire;
                cursor: pointer;
            }
            
            #titre-stats {
                margin: 0;
                font-size: 3rem;
                transition: all 0.2s ease;

            }
            
            .titre-animation:hover {
            padding-left: 15px;
                border-left: 3px solid $color-principale;
            }
        }
        
        #container-graph {
            margin: 0 5%;

            .graph-stats {
                width: fit-content !important;
                max-height: 400px;
                max-width: 1000px;
                padding: 40px 0;
            }
        }
    }
}


/* ************************** MEDIA QUERIES ************************** */
/* ******************************************************************* */


/* ///////////////////////////////////////// 860px //////////////// */

@media screen and (max-width: 860px) {
	#container-stats {
        top: -9vh;

        &.volet-open {
            top: -50vh;
        }
	}
}