// Utilities
@import "../../scss/color.scss";

#container-stats {
    position: relative;
    width: 100%;
    min-height: 50vh;
    top: -7vh;
    z-index: 400;
    background-color: white;
    border-top: 2px solid $color-sombre;
    border-right: 2px solid $color-sombre;
    border-top-right-radius: 80px;
    transition: top 0.4s ease-in-out;
    
    &.volet-open {
        top: -44vh;
    }

    #marge-stats {
        background-color: white;
        margin: 10px 5% 5px;
    
        #titre-stats {
            margin: 0;
            font-size: 3rem;
        }
        #header-stats {

        }
        
        .graph-stats {
            width: fit-content !important;
            max-height: 400px;
            max-width: 1000px;
	        padding: 40px 100px;
        }
    }
}

