/* **************** COLOR ***************** */

$color-sombre: #383838;
$color-gris: #929292;
$color-principale:	#FFC11E;
$color-secondaire: #dcdcdc;
$color-tertiaire: #efefef;
$color-gauche:	#ff5d5d;
$color-macron: #ffb847;
$color-droite:	#005dc7;
$color-exd: #ab785f;

$color-pcf:#612012;
$color-lfi:#cd3256;
$color-dvg:#a41158;
$color-ps:	#f567a9;
$color-eelv: #37e999;
$color-lr:	#0622ac;
$color-dvd:#174f8f;
$color-uxd:#32066f;
$color-rn:	#74574b;
