/* **************** COLOR ***************** */

$color-sombre: #383838;
$color-gris: #929292;
$color-principale:	#FFC11E;
$color-secondaire: #dcdcdc;
$color-tertiaire: #efefef;
$color-gauche:	#ff5d5d;
$color-macron: #ffb847;
$color-droite:	#005dc7;
$color-exd: #ab785f;

$color-exd:  #32066f;
$color-dvd:  #005dc7;
$color-cen:  #ffb847;
$color-ldiv:  #f58c58;
$color-dvg:  #f567a9;
$color-eco:  #37e999;
$color-rdg:  #ff5d5d;
$color-dxg:  #612012;

$color-rec:  #4d403b;
$color-rn:  #74574b;
$color-uxd: #32066f;
$color-lr:  #0622ac;
$color-eelv:#2dc380;
$color-ps:  #ea4693;
$color-dvg: #a82162;
$color-lfi: #cd3256;
$color-pcf: #7d180d;