/* **************** GENERAL ***************** */
// Utilities
@import "./color.scss";

body {
    margin: 0;
	height: 100vh;
	font-family: 'montserrat' !important;
}

h1 {
	font-family: 'HumaneExtLt', sans-serif;
	font-size: 90px !important;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: 'HumaneLight', sans-serif;
	font-size: 4rem;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 20px;
}

h3 {
	font-size: 22px !important;
	margin: 8px 0 3px;
}

h4 {
	font-size: 16px !important;
	margin: 6px 0 3px;
}

h5 {
	font-size: 14px !important;
	margin: 0;
}


/* **************** COMPOSITION ***************** */

/* ************* MAP ************** */


#container {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	overflow: hidden;
	max-height: 96vh;
	border-top: 2px solid $color-sombre;
	border-bottom: 2px solid $color-sombre;
}

.map-image {
	flex-grow: 4;
	flex-shrink: 10;
	display: flex;
	flex-direction: column;
}

.map-image svg {
	padding: 2%;
    height: 100vh;
    width: 96%;
}

.map-image path {
	stroke: white;
	stroke-width: 0.6px;
	stroke-opacity: 1;
	fill: $color-sombre;
	opacity: 1;
	transition: all 0.3s;
	cursor: -webkit-grab; 
	cursor: grab;
	
	
	&.nuance-EXD { fill: $color-exd;}
	&.nuance-DVD { fill: $color-dvd;}
	&.nuance-CEN { fill: $color-cen;}
	&.nuance-DVG { fill: $color-dvg;}
	&.nuance-ECO { fill: $color-eco;}
	&.nuance-RDG { fill: $color-rdg;}
	&.nuance-DXG { fill: $color-dxg;}
	
	&.parti-REC { fill: $color-rec;}
	&.parti-RN { fill: $color-rn;}
	&.parti-UXD { fill: $color-uxd;}
	&.parti-LR { fill: $color-lr;}
	&.parti-ENS { fill: $color-cen;}
	&.parti-DVG { fill: $color-dvg;}
	&.parti-LFI { fill: $color-lfi;}
	&.parti-PS { fill: $color-ps;}
	&.parti-EELV { fill: $color-eelv;}
	&.parti-DIV { fill: $color-eco;}

	&.abstention { fill: $color-sombre;}
}

.map-image path:hover {
	opacity: 0.2;
}

.map-image .circo path {
	stroke: white;
	stroke-width: 30px;
	stroke-opacity: 1;
	stroke-linecap: square;
	pointer-events: none;
	opacity: 1;
}

.map-image .active {
	z-index: 2;
}

.map-image .active  {
	z-index:2;
	fill: black !important;
	animation: clignotant 1s infinite;
}

@keyframes clignotant { 
	0%   { opacity: 0;  }
	100% { opacity: 1; } 
}

.map-liste {
	flex-grow: 1;
	padding: 5px 10px;
	margin: 5px 0;
}

.map-liste ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.map-liste li {
	cursor: -webkit-grab; 
	cursor: grab;
	padding: 3px 0;
	margin: 2px 0;
}

.map-liste a {
	color: $color-sombre;
	font-weight: 400;
	text-decoration: none;
	transition: all 0.3s;
}

.map-liste a.active {
	color: $color-principale;
	font-weight: 700;
}

/* ************* MENU ************** */

.container-select {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0 0 10px 0;
}	

.electionMenu {
	
	width: 200px;
	padding: 2px;
	text-align: center;
	border-radius: 0;
	background-color: $color-secondaire;
}

/* **************** CONTAINER RESULTAT ***************** */

#container-resultat {
	flex-grow: 1;
	max-width: 480px;
	min-width: 340px;
	height: 100vh;
	border-left: 2px solid $color-sombre;
	overflow: scroll;

	#marge-resultat {
		padding: 20px;
		
		.progress{
			background-color: $color-secondaire !important;
			border-radius:0;
			overflow:visible;
			margin: 1px 0 8px;
		}
		
		.barre-resultat {
			width: 0;
			height: 10px;
			background: $color-gris; 
			-webkit-transition: width 1s ease-in-out;
			transition: width 1.5s ease-in-out;
			
			&.nuance-EXD { background: $color-exd;}
			&.nuance-DVD { background: $color-dvd;}
			&.nuance-CEN { background: $color-cen;}
			&.nuance-DVG { background: $color-dvg;}
			&.nuance-ECO { background: $color-eco;}
			&.nuance-RDG { background: $color-rdg;}
			&.nuance-DXG { background: $color-dxg;}
			
			&.parti-REC { background: $color-rec;}
			&.parti-RN { background: $color-rn;}
			&.parti-UXD { background: $color-uxd;}
			&.parti-LR { background: $color-lr;}
			&.parti-ENS { background: $color-cen;}
			&.parti-DVG { background: $color-dvg;}
			&.parti-LFI { background: $color-lfi;}
			&.parti-PS { background: $color-ps;}
			&.parti-EELV { background: $color-eelv;}
			&.parti-DIV { background: $color-eco;}
		}
	}
}

#tooltip {
	position: absolute; 
	display: none; 
	color: white;
	background-color: $color-sombre; 
	border: 1px solid $color-secondaire; 
	padding: 5px; 
	z-index: 100;
}

/* **************** VOLET DÉPLIANT ***************** */

.panneaux-score-resultat {
	cursor: pointer;
	padding: 0 0 10px 0;
    margin: 10px 0 0;
	border-bottom: 2px $color-sombre solid;
	transition: all 0.2s ease;
}

.panneaux-score-resultat:hover {
	background-color: $color-tertiaire;
}

header {
	margin-top: 0;
	padding: 20px 30px;
}

.panneaux-score-volet.close  {
	height: 30px !important;

	#container-resultat-election {
		display: none;
		margin: 6px 0 0;

	}
}

.panneaux-score-volet {
	height: 330px;
	overflow-x: hidden;
  	overflow-y: scroll;
    transition: height 0.3s ease;
	-ms-overflow-style: none; // IE 10+
	overflow: -moz-scrollbars-none; // Firefox

	&::-webkit-scrollbar {
		display: none;
	}

	.no-select {	opacity: 0.2;	}
}

.panneaux-score-button {
    transition: all 0.3s ease;
}

.panneaux-score-resultat:hover .panneaux-score-button {
	padding-left: 15px;
	border-left: 3px solid $color-principale;
}



/* ************* CONTAINER RESULTAT FRANCE ************** */

#container-france {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	min-height: 110px;
	border-top: 2px solid $color-sombre;
}

#container-france h2 {
	line-height: 0.8;
	padding: 0 20px;
	margin: 0;
}

#container-barre-france {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	width: 68%;
	height: 100%;
	border-left: 2px solid $color-sombre;
	padding: 0 4% 10px;
	overflow: hidden;
}

#container-score-france {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 2px 20px;
	padding: 10px 20px;
	flex-wrap: wrap;
	line-height: 1.2;
}

#container-score-france>div {
	align-items: center;
}

#container-score-france .Gauche strong {	color: $color-gauche;	}
#container-score-france .Droite strong {	color: $color-droite;	}
#container-score-france .Macron strong {	color: $color-macron;	}
#container-score-france .Extdroite strong {	color: $color-exd;	}
#container-score-france .Abstention strong {	color: $color-gris;	}

.container-resultat-france {
	height: 100%;
}

.container-resultat-france>div{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
}

.divFrancePourcentage {	width: 50px; margin-bottom: 5px; background-color: $color-secondaire;}
.divFrancePourcentage.Abstention {	background-color: $color-gris;}
.divFrancePourcentage.PCF {	background-color: $color-pcf;}
.divFrancePourcentage.EELV {	background-color: $color-eelv;}
.divFrancePourcentage.LFI {	background-color: $color-lfi;}
.divFrancePourcentage.PS {	background-color: $color-ps;}
.divFrancePourcentage.Gauche {	background-color: $color-gauche;}
.divFrancePourcentage.Dvd {	background-color: $color-dvd;}
.divFrancePourcentage.Droite {	background-color: $color-droite;}
.divFrancePourcentage.LR {	background-color: $color-lr;}
.divFrancePourcentage.Extdroite {	background-color: $color-exd;}
.divFrancePourcentage.RN {	background-color: $color-rn;}
.divFrancePourcentage.Rec {	background-color: $color-sombre;}
.divFrancePourcentage.Macron {	background-color: $color-macron;}