/* **************** GENERAL ***************** */
// Utilities
@import "./color.scss";

html {
	font-size: 14px;
}

body, main {
    margin: 0;
	height: 100vh;
	overflow: hidden;
	font-family: 'montserrat' !important;
}

h1 {
	font-family: 'HumaneExtLt', sans-serif;
	font-size: 6.5rem !important;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: 'HumaneLight', sans-serif;
	font-size: 4rem;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 20px;
}

h3 {
	font-size: 1.6rem !important;
	margin: 8px 0 3px;
}

h4 {
	font-size: 1.3rem !important;
	margin: 0px 0 3px;
}

h5 {
	font-size: 1rem !important;
	margin: 0;
}

/* ************ ACTIVE / DESACTIVE ********* */

.no-select {
	h2, h3, h4, h5, a {
		color: $color-secondaire;
	}
}

/* **************** COMPOSITION ***************** */

.container {
    max-width: 1080px;
    margin: 0 auto;
	height: 90vh;
}

.container-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
    width: 100%; 
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
	align-items: self-start;
    justify-content: space-between;
    gap: 20px;
	border: 2px solid $color-sombre;

	hr {
		width: 100%;
	}
}

/* ************* HOME PAGE ************** */

.container-home {
	width: 50%;
	
	h1 {	font-size: 12rem !important; 	}
	h2 {	margin: 30px 0 2px;	}

	#container-home-video {		max-width: 600px;	}

	video {	width: 100%; border-bottom: 2px solid $color-sombre;	}

	&:nth-child(1) {	border-right: 2px solid $color-sombre;	}
	&:nth-child(2) {	padding: 6% 120px;	}
}

/* ************* MENU ************** */

.electionMenu {
	width: 200px;
	padding: 2px;
	text-align: center;
	border-radius: 0;
	background-color: $color-secondaire;
}

/* ************* CONTAINER RESULTAT FRANCE ************** */

#container-france {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	min-height: 110px;
	border-top: 2px solid $color-sombre;
}

#container-france h2 {
	line-height: 0.8;
	padding: 0 20px;
	margin: 0;
}

#container-barre-france {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	width: 68%;
	height: 100%;
	border-left: 2px solid $color-sombre;
	padding: 0 4% 10px;
	overflow: hidden;
}

#container-score-france {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 2px 20px;
	padding: 10px 20px;
	flex-wrap: wrap;
	line-height: 1.2;
}

#container-score-france>div {
	align-items: center;
}

#container-score-france .Gauche strong {	color: $color-gauche;	}
#container-score-france .Droite strong {	color: $color-droite;	}
#container-score-france .Macron strong {	color: $color-macron;	}
#container-score-france .Extdroite strong {	color: $color-exd;	}
#container-score-france .Abstention strong {	color: $color-gris;	}

.container-resultat-france {
	height: 100%;
}

.container-resultat-france>div{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
}

