/* **************** GENERAL ***************** */
// Utilities
@import "./color.scss";

html {
	font-size: 14px;
}

body, main {
    margin: 0;
	height: 100vh;
	overflow: hidden;
	font-family: 'montserrat' !important;
}

h1 {
	font-family: 'HumaneExtLt', sans-serif;
	font-size: 6.5rem !important;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	color: $color-sombre;
}

h2 {
	font-family: 'HumaneLight', sans-serif;
	font-size: 4rem;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 20px;
}

h3 {
	font-size: 1.6rem !important;
	margin: 8px 0 3px;
}

h4 {
	font-size: 1.3rem !important;
	margin: 0px 0 3px;
}

h5 {
	font-size: 1rem !important;
	margin: 0;
}

.capitalize {
	text-transform: capitalize;
}

.texte-bold {
	font-weight: 700;
	color: $color-sombre;
}

.texte-white {
	color: white;
}

a {
	font-weight: 500;
	color: $color-principale;

	&:hover {
		color: $color-secondaire;
	}
}

hr {
	width: 100%;
	border-width: 2px
}

/* ************ ACTIVE / DESACTIVE ********* */

.no-select {
	color: $color-secondaire;
	h2, h3, h4, h5, a {
		color: $color-secondaire;
	}
}

/* **************** COMPOSITION ***************** */

.container {
    max-width: 1080px;
    margin: 0 auto;

}

.container-paragraphe {
	margin: 100px auto;
	max-width: 940px;

	h1, h2, h3, h4 {
		margin-top: 50px;
	}
}

.container-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	height: 90vh;
}

.container-static {
    max-width: 1080px;
    margin: 0 auto;
	height: 90vh;
}

.container-display {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.container-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
    width: 100%; 
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
	align-items: self-start;
    justify-content: space-between;
    gap: 20px;
	border: 2px solid $color-sombre;

	hr {
		width: 100%;
	}
}

/* ************* HOME PAGE ************** */

#container-home-video {	
	display: flex;
	flex-direction: row;
    align-items: flex-end;
	max-width: 600px;	
}

.container-home {
	width: 50%;
	
	h1 {	font-size: 12rem !important; 	}
	h2 {	margin: 30px 0 2px;	}


	video {	width: 100%;	}

	&:nth-child(1) {	border-right: 2px solid $color-sombre;	}
	&:nth-child(2) {	padding: 6% 120px;	}
}

/* ************* MENU ************** */

.electionMenu {
	width: 200px;
	padding: 2px;
	text-align: center;
	border-radius: 0;
	background-color: $color-secondaire;
}

/* ************* LEAFLET MAP ************** */

.leaflet-container {
	background-color: white !important;
	
	.leaflet-tile-container {
		opacity: 0.7;
	}
}

.leaflet-control-layers .leaflet-control {
    //padding: 10px;
}

.leaflet-control-layers {
    //display: none;
    box-shadow: none;
    background-color: white;
    padding: 10px;
    border-radius: 4px;

    a {
        display: none;
    }
}

.leaflet-control-layers .leaflet-control-layers-list {
    display: block !important;
}